html {
	height: 100%;
	width: 100%;
}

body {
	height: 150%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* GRID LAYOUT */

.grid {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: repeat(16, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(500px, auto);
	justify-self: stretch;
	align-self: stretch;
}

.grid > section, footer{
	background-color: #99EA39;
	padding: 1em;
}

.home {
	grid-column: 9;
}

.forms {
	grid-column: 10;
}

.about {
	grid-column: 11;
}

.contact-us {
	grid-column: 12;
}

/* NAVIGATION BAR */

.grid nav {
	background-color: #99EA39;
	padding: 0;
}

nav {
	grid-column: 1/4;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-self: stretch;
	align-self: stretch;
	text-align: center;
	background-image: linear-gradient(#99EA39, #85CB33);
}

nav a {
	display: grid;
	text-decoration: none;
	color: black;
}

nav a:hover {
	
}

.custom-nav-button:hover {
	background-color: #77B330;
	transition: 0.5s;
}

nav .custom-nav-text {
	align-self: center;
	font-weight: bold;
}

.website-title {
	grid-column: 1/3;
}

.website-title-text {
	font-size: 125%;
}

/* WEBSITE CONTENTS */

.website-contents {
	
}

#home {
	grid-column: 2/3;
	grid-row: 2/4;
	display: grid;
}

#home-text {
	text-align: center;
	justify-self: center;
	align-self: center;
}

#form {
	grid-column: 2/3;
	grid-row: 4/8;
}

#form-text {
	
}

#contact {
	grid-column: 2/3;
	grid-row: 8/12;
}

#contact-text {
	
}

#aboutus {
	grid-column: 2/3;
	grid-row: 12/16;
}

#aboutus-text {
	
}

/* FOOTER */

#custom-footer {
	grid-column: 1/4;
	grid-row: 16;
	display: grid;
}

#custom-footer-text {
	text-align: center;
	justify-self: center;
	align-self: center;
}
