<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sumilang Clinic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/main-styles.css">
</head>
<body class="grid">
	<!-- HEADER -- > 
	<header>
	<!-- NAVIGATION BAR -->
		<nav class="custom-nav">
			<a class="website-title custom-nav-button" href="main.html">
				<p class="custom-nav-text website-title-text">Sumilang Clinic</p>
			</a>
			<a class="custom-nav-button home" href="main.html">
				<p class="custom-nav-text">Home</p>
			</a>
			<a class="custom-nav-button forms" href="forms.html">
				<p class="custom-nav-text">Forms</p>
			</a>
			<a class="custom-nav-button about" href="about.html">
				<p class="custom-nav-text">About</p>
			</a>
			<a class="custom-nav-button contact-us" href="contact-us.html">
				<p class="custom-nav-text">Contact Us</p>
			</a>
		</nav>
	</header>
	<!-- WEBSITE CONTENTS: NOTE - CHANGE NAMES OF "BOXES" LATER -->
	<!-- Home Section -->
	<section id="home" class="website-contents">
		<p id="home-text">AN IMAGE WILL GO HERE.</p>	
	</section>
	<!-- Form Section -->
	<section id="form" class="website-contents">
		<h1>Form</h1>
		<p id="form-text">This is FORM. Forms will go here.</p>
	</section>
	<!-- Contact Section -->
	<section id="contact" class="website-contents">
		<h3>Contact</h3>
		<p id="contact-text">This is CONTACT. Contact information will go here.</p>
	</section>
	<!-- About Section -->
	<section id="aboutus" class="website-contents">
		<h1>About Us</h1>
		<p id="aboutus-text">This is ABOUT US. Information about us will go here.</p>
	</section>
	<!-- FOOTER -->
	<footer id="custom-footer">
		<p id="custom-footer-text">This is a footer. Contact info will go here.</p>
	<footer>
</body>
</html>
